.card
{
    height: 300px;
    width: 200px;
    border-radius: 15px;
    /* border: 1px solid black; */
    margin: 20px;
    box-shadow: 4px 4px 4px grey;
    display: inline-block;
}
.img{
    width:100% ;
    border-radius: 15px 15px 0 0;
    background-color: darkorange;
}
.descreption{
    padding-left: 5px;
}
.card:hover{
    box-shadow: 8px 8px 18px black;
    /* transform: scale(1.2); */
}
/* #man{
    height: 300px;
    width: 200px;
    border-radius: 15px;
    border: 1px solid black;
    margin: 20px;
    box-shadow: 2px 2px 4px red;
    display: inline-block;
} */
/* .card:hover .name{

    font-size: 1.2em;
} */